<aside class="sidebar-left">

		<div class="sidebar-links">
			<a href="#/tracer"><img src="img/heroes/tracer.png" alt="tracer"></a>
			<a href="#/mccree"><img src="img/heroes/mccree.png" alt="mccree"></a>
			<a href="#/genji"><img src="img/heroes/genji.png" alt="genji"></a>
			<a href="#/pharah"><img src="img/heroes/pharah.png" alt="pharah"></a>
            <a href="#/reaper"><img src="img/heroes/reaper.png" alt="reaper"></a>
			<a href="#/soldier"><img src="img/heroes/soldier_76.png" alt="soldier_76"></a>
			<a href="#/bastion"><img src="img/heroes/bastion.png" alt="bastion"></a>
			<a href="#/hanzo"><img src="img/heroes/hanzo.png" alt="hanzo"></a>
            <a href="#/widowmaker"><img src="img/heroes/widowmaker.png" alt="widowmaker"></a>
			<a href="#/mei"><img src="img/heroes/mei.png" alt="mei"></a>
			<a href="#/torbjorn"><img src="img/heroes/torbjorn.png" alt="torbjorn"></a>
			
		</div>

	</aside>
    
        <aside class="sidebar-right">

		<div class="sidebar-links">
            <a href="#/junkrat"><img src="img/heroes/junkrat.png" alt="junkrat"></a>
			<a href="#/dva"><img src="img/heroes/dva.png" alt="dva"></a>
			<a href="#/reinhardt"><img src="img/heroes/reinhardt.png" alt="reinhardt"></a>
			<a href="#/roadhog"><img src="img/heroes/roadhog.png" alt="roadhog"></a>
			<a href="#/zarya"><img src="img/heroes/zarya.png" alt="zarya"></a>
            <a href="#/winston"><img src="img/heroes/winston.png" alt="winston"></a>
			<a href="#/lucio"><img src="img/heroes/lucio.png" alt="lucio"></a>
			<a href="#/mercy"><img src="img/heroes/mercy.png" alt="mercy"></a>
			<a href="#/symmetra"><img src="img/heroes/symmetra.png" alt="symmetra"></a>
            <a href="#/zenyatta"><img src="img/heroes/zenyatta.png" alt="zenyatta"></a>

		</div>

	</aside>