<aside class="sidebar-left">

		<div class="sidebar-links">
			<a href="#/tracer"><img src="img/heroes/Tracer.png" alt="tracer"></a>
			<a href="#/mccree"><img src="img/heroes/Mccree.png" alt="mccree"></a>
			<a href="#/genji"><img src="img/heroes/Genji.png" alt="genji"></a>
			<a href="#/pharah"><img src="img/heroes/Pharah.png" alt="pharah"></a>
            <a href="#/reaper"><img src="img/heroes/Reaper.png" alt="reaper"></a>
			<a href="#/soldier"><img src="img/heroes/Soldier_76.png" alt="soldier_76"></a>
			<a href="#/bastion"><img src="img/heroes/Bastion.png" alt="bastion"></a>
			<a href="#/hanzo"><img src="img/heroes/Hanzo.png" alt="hanzo"></a>
            <a href="#/widowmaker"><img src="img/heroes/Widowmaker.png" alt="widowmaker"></a>
			<a href="#/mei"><img src="img/heroes/Mei.png" alt="mei"></a>
			<a href="#/torbjorn"><img src="img/heroes/Torbjorn.png" alt="torbjorn"></a>
			
		</div>

	</aside>
    
        <aside class="sidebar-right">

		<div class="sidebar-links">
            <a href="#/junkrat"><img src="img/heroes/Junkrat.png" alt="junkrat"></a>
			<a href="#/dva"><img src="img/heroes/Dva.png" alt="dva"></a>
			<a href="#/reinhardt"><img src="img/heroes/Reinhardt.png" alt="reinhardt"></a>
			<a href="#/roadhog"><img src="img/heroes/Roadhog.png" alt="roadhog"></a>
			<a href="#/zarya"><img src="img/heroes/Zarya.png" alt="zarya"></a>
            <a href="#/winston"><img src="img/heroes/Winston.png" alt="winston"></a>
			<a href="#/lucio"><img src="img/heroes/Lucio.png" alt="lucio"></a>
			<a href="#/mercy"><img src="img/heroes/Mercy.png" alt="mercy"></a>
			<a href="#/symmetra"><img src="img/heroes/Symmetra.png" alt="symmetra"></a>
            <a href="#/zenyatta"><img src="img/heroes/Zenyatta.png" alt="zenyatta"></a>

		</div>

	</aside>